.home{
      width: 100%;
      height: 100vh;
      overflow: hidden;
    overflow: scroll;
    // background-image: url('https://i.pinimg.com/originals/df/c6/7a/dfc67a843c60eaa201b0d60b64de8297.jpg');
    background-color: #EEEEEE;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
   color:  rgb(0, 0, 0);
      .container{
      
        width: inherit;
       height: calc(100vh - 50px);
        
        .firstSection{
          display: flex;
          flex-wrap: wrap;
          margin-top: 20px;
           

        }

        .sectiontwo{
          width: 100%;
        }
         
    }
}